<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="vm.clientesPage()"><i class="fa fa-user fa-5x" aria-hidden="true"></i>
                                <br><br>Clientes</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="vm.enderecosPage()"><i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                                <br><br>Endereços</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="vm.telefonesPage()"><i class="fa fa-phone fa-5x" aria-hidden="true"></i>
                                <br><br>Telefones</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>